.wrapper {
	display: flex;
	justify-content: center;

	background-color: rgb(168, 208, 247);

	width: 100%;
	height: max-content;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	display: flex;
	flex-direction: row;

	justify-content: space-between;

	border-radius: 20px;

	width: 1080px;

	padding: 20px;
	margin: 20px 0;

	background-color: white;
}