.ticket-list {
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 820px;
	padding: 0 20px;

	position: relative;
}

.ticket-list__preloader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ticket-list__preloader {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: #FF3D00;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.ticket-list__load-more-btn {
	width: 100%;
	height: 30px;

	color: white;
	font-size: 20px;
	background-color: rgb(39, 95, 154);

	border: none;
}

.ticket-list__load-more-btn:hover {
	opacity: 0.8;
	cursor: pointer;
}


.ticket-list__error-of-search {
	width: 100%;
	height: max-content;

	text-align: center;

	color: #2d2d2d;
}

.ticket-list__error-title {
	margin: 0 0 10px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 141.69%;
}


.ticket-list__error-subtitle {
	margin: 0 0 40px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 142.19%;
}

.ticket-list__error-button-reset {
	margin: 0 0 40px 0;
	border: none;
	background: #FCB427;

	font-size: 20px;

	width: 250px;
	height: 50px;
}

.ticket-list__error-button-reset:hover {
	cursor: pointer;
	background: #FF971D;
}